build
.DS_Store
.vscode/
Youtube Downloader.xcodeproj/project.xcworkspace/xcshareddata/
Youtube Downloader.xcodeproj/xcuserdata/Mathias.xcuserdatad/xcdebugger/
Youtube Downloader.xcodeproj/project.xcworkspace/xcuserdata/
Youtube Downloader.xcodeproj/xcuserdata/gus.xcuserdatad/
