build
Youtube Downloader.xcodeproj/project.xcworkspace/xcshareddata/
Youtube Downloader.xcodeproj/xcuserdata/Mathias.xcuserdatad/xcdebugger/
Youtube Downloader.xcodeproj/project.xcworkspace/xcuserdata/
Youtube Downloader.xcodeproj/xcuserdata/
.DS_Store

Youtube DownloaderTests/